
  .ball  {
    width: 90px;
    height: 90px; 
    /* /* border-radius: 50%; */
    /* background-color: blue; */
    position: absolute;
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100px);
    }
  }